<h1><%= @shoe.name() %></h1>
<% if @shoe_stores.any?() %>
   <form action="/shoe_brand_info/<%= @shoe.id %>" method="post">
     <input type="hidden" name="_method" value="patch">

     <% @shoe_stores.each() do |store| %>
       <div class="checkbox">
         <label>
           <input type="checkbox" name="shoe_stores_ids[]"
           value="<%= store.id() %>"><%= store.name() %>
         </label>
       </div>
     <% end %>
     <button type="submit">Add Shoe</button>
   </form>
 <% end %>

<hr>

  <% if @shoe.shoe_stores().any?() %>
   <h3>List of Stores where </strong>
     is available</h3>

   <ul>
     <% @shoe.shoe_stores().each() do |shoe| %>
       <li><%= shoe.name() %></li>
     <% end %>
   </ul>
 <% else %>
   <p>There are no shoes yet!</p>
 <% end %>


 <a href="/">Return to Main Page</a>
